<!DOCTYPE html>
<html lang="fr">
  <%-include("../partials/head.ejs")-%>
  <body>
    <header class="px-4 py-4">
      <a href="/">
        <button class="border-2 px-6 py-2">Retour aux tâches</button>
      </a>
    </header>
    <main class="px-4">
      <% if(todo) { %>
      <section>
        <h2 class="text-2xl mb-4 font-bold"><%=todo.title%></h2>
        <form
          action="/api/todos/<%=todo.title%>"
          method="UPDATE"
          class="w-full max-w-[400px] space-y-6"
        >
          <fieldset class="w-full border-2 space-y-3 p-4">
            <div class="flex items-center gap-x-4">
              <label for="description">Title: </label>
              <input
                type="text"
                id="title"
                name="title"
                value="<%=todo.title%>"
                class="border-2 px-4 py-1 text-sm"
              />
            </div>
            <div class="flex items-center gap-x-4">
              <label for="description">Description: </label>
              <input
                type="text"
                id="description"
                name="description"
                value="<%=todo.description%>"
                class="border-2 px-3 py-1 text-sm"
              />
            </div>
            <div class="flex items-center gap-x-4">
              <label for="description">Status: </label>
              <input type="checkbox" id="done" name="done" <%= todo.done ?
              "checked" : "" %> class="cursor-pointer h-4 w-4">
            </div>
          </fieldset>
          <button type="submit">Modifier</button>
        </form>
      </section>
      <% } else { %>
      <section>
        <h2>Aucune tâche trouvée</h2>
      </section>
      <% } %>
    </main>
  </body>
</html>
